.stroke-picker {
  margin-top: 60px;
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  flex-direction: column;
}

.stroke-picker>* {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.stroke-picker>*:hover {
  cursor: pointer;
}

.stroke-picker>*:hover {
  outline: 2px auto blueviolet;
}

.stroke-picker>*:active {
  background-color: blueviolet;
}


.stroke-picker-width-6 {
  width: 6px;
  height: 6px;
  background-color: white;
}


.stroke-picker-width-10 {
  width: 10px;
  height: 10px;
  background-color: white;
}

.stroke-picker-width-14 {
  width: 14px;
  height: 14px;
  background-color: white;
}

.stroke-picker-width-22 {
  width: 22px;
  height: 22px;
  background-color: white;
}

.stroke-picker-width-30 {
  width: 30px;
  height: 30px;
  background-color: white;
}

.stroke-picker-selected {
  background-color: blue;
}
