.canvas-container {
  display: flex;
}

/*	Canvas container */
.tool-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*	Tool box container */
.tool-box {
  padding: 30px;
}

/* Tool box */
.tool-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.tool-selector {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.selected-tool {
  background-color: grey;
}

/* END Tool box*/

/* END Tool box container*/
.canvas {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: gray;
  width: 100%;
  height: 100%;
}

.canvas-history-button {
  position: absolute;
  display: flex;
  margin-left: 137px;
  gap: 5px;
  margin-top: 5px;
}

.canvas-history-button * {
  background-color: bisque;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;

}
